<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@photo.thumbnail_url, size: '100%x100%',
      :data => { :description => @photo.title, :title => @photo.title }) %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
